body {
    background: #373030;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .app {
    background-color: #C4C4C4;
    width: 800px;
    height: 600px;
    border-radius: 8px;
    padding: 15px;
    overflow-y: scroll;
  }

  h4 {
    background-color: #AFAFAF;
    padding: 10px 10px;
    border-radius: 75px;
    width: 400px;
    margin-left: 190px;
    text-align: center;
  }
  
  .app::-webkit-scrollbar {
    width: 0 !important;
  }

  #addNew {
  /*   justify-content: space-between; */
    background-color: #FEDA70;
    padding: 10px 10px;
    padding-left: 80px;
    border-radius: 75px;
    width: 400px;
    margin-left: 190px;
    margin-top: 30px;
    position: fixed;
    bottom: 60px;
    right: 480px;
  }

    #addNew:hover {
      cursor: pointer;
    }

  #tasks {
    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
  }
  
  #tasks div{
    background-color: #AFAFAF;
    border-radius: 10px;
    padding: 5px;
    display: grid;
    gap: 4px;
  }

  #tasks div .options {
    justify-self: right;
    display: flex;
    padding-right: 10px;
    padding-bottom: 10px;
    gap: 20px;
  }
  
  #tasks div .options i {
    cursor: pointer;
  }
  
  .modal .modal-content{
    background: #C4C4C4;
  }
  .form-control{
    background-color: #AFAFAF;
    border: none;
    border-radius: 20px;
  }
  .modal-title{
    background-color: #AFAFAF;
    padding: 10px 10px;
    padding-left: 80px;
    border-radius: 75px;
    width: 300px;
    margin-left: 80px;
  }
  #msg {
    color: red;
  }